fp-ai-vision.code-workspace
Projects/STM32H747I-DISCO/Applications/FoodReco_MobileNetDerivative/Float_Model/.vscode/iar.json
.vscode
compile_flash.sh
*.orig
.gdb_history
*.ewt
*.bak
*.npz
*.bin
*.hex
Build/
Utilities/AI_resources/Food-Recognition/.ipynb_checkpoints/
Utilities/AI_resources/Food-Recognition/data/
Utilities/AI_resources/Food-Recognition/dataset/
Utilities/AI_resources/Food-Recognition/food-101.tar.gz
Utilities/AI_resources/Food-Recognition/food-101/
Utilities/AI_resources/Food-Recognition/val_Foodnet/
Utilities/AI_resources/Food-Recognition/DB_Val_Foodnet/
Utilities/AI_resources/Food-Recognition/DB_Train_Foodnet/
*.swp
tags
Projects/STM32H747I-DISCO/Applications/FoodReco_MobileNetDerivative/Float_Model/STM32CubeIDE/STM32H747I_DISCO/Float_Split_Sdram
.gdbinit
**/compile_commands.json
Drivers/CMSIS/docs/
**.html
**.js
**.chm
**.css
models/
